{
  "extends": "./eslint-config-drupal.json",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": 0,
    "eqeqeq": 0,
    "no-process-exit": 0,
    "one-var": 0,
    "max-nested-callbacks": [1, 5]
  }
}
